header, nav, main {
    max-width: 1240px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
#hamburgerBtn {
    display: none;

}

nav {
    position: static;
    transform: translateX(0);
    width: auto;
    div {display: none;}
    ul {
        display: flex;
        margin-left: 2%;
    }
    ul li a {
        border: none;
       
        padding: 20px;
    }
}

#cards {
   display: grid;
   grid-template-columns: 1fr 1fr;
   
}