/* NAVIGATION STUFF GOES HERE  */


#cards {
    section {
        
        grid-template-areas: 
        "photo name" 
        "photo address"
        "photo phone";
    }
    img {
        padding: 0 15px 0 0;
        width: 400px;
        height: auto;
  
    }
    h2 {
        font-size: 30px;
    }
    address {
        font-size: 20px;
    }
   
}