header, nav, main {
    max-width: 1240px;
    margin: auto;
}


/* NAVIGATION STUFF GOES HERE  */
div#navWrapper nav {
    height: auto;
    ul {
        display: flex;
        justify-content: end;
        border: none;
        li a {
            padding: .2rem 1rem;
            border-radius: 10px;
            margin: .5rem 0;
        }
    }
}