/* NAVIGATION STUFF GOES HERE  */
header {
    grid-template-columns: 51px auto auto;
    border-bottom: 1px solid white; 
    -webkit-box-shadow: 0px 7px 59px -29px rgba(0,0,0,0.52);
-moz-box-shadow: 0px 7px 59px -29px rgba(0,0,0,0.52);
box-shadow: 0px 7px 59px -29px rgba(0,0,0,0.52);
    div#phone {
        display: block;
        justify-self: end;
        a {
            color: $secondaryColor;
            text-decoration: none;
            font-weight: $normalWeight;
            font-size: 1.5rem;
        }
        a:hover {
            color: $primaryColor;
            transition: .5s;
        }
    }
}

div#hamburger, div#closex {
    display: none;
}
div#navWrapper nav {
    height: auto;
    ul {
        display: flex;
        justify-content: space-between;
        border: none;
        li {
            border: none;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.active {
    border:none;
}
div#headerWrapper {grid-row-start: 1;}
div#navWrapper {grid-row-start: 2;}
div#mainWrapper {grid-row-start: 3;}
div#footerWrapper {grid-row-start: 4;}
p {
  margin: 0;
}