/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* BODY  */
body {
    display: grid;
	font-family: $defaultFont;
	font-size: 16px;
	font-weight: $lightWeight;
    min-width: 320px;
    background-color: $menuColor;
    
}
div#headerWrapper {grid-row-start: 1;}

/* HEADER  */
header {
    display: grid;
    grid-template-columns: 51px auto 44px;
    align-items: center;
	padding: .5rem 2vw;
    div#phone {display: none;}
	h1 {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        padding-left: .5rem;
        color: $primaryColor;
    }
} // end header

/* NAVIGATION STUFF GOES HERE  */
div#navWrapper {
    grid-row-start: 4;
nav {
    height: 100vh;
   
    ul li a {
        display: block;
        color: #333;
        padding: .9rem 2vw;
        text-decoration: none;
        text-align: center;
        
    }
    ul li a:hover {
        color: $primaryColor;
        transition: .5s;
}
    
}
}



p {
margin-left: 10px;
margin-right: 10px;
}

.active {
    border-left: 10px solid $primaryColor;
    background-color: white;

}

.formH {
    color: $primaryColor;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px lightblue;
}



/* MAIN  */
div#mainWrapper {grid-row-start: 2;}
main {
 	p {padding: .5rem 2vw; color: #333; line-height: 125%;}
	h1 {
        padding: 1rem 2vw .5rem 2vw; 
        font-size: 1.5rem; 
        color: $secondaryColor;
        font-weight: $lightWeight
    }
    .hero {width: 100%;}
    .hero img {
        width: 100%;
        height: auto;
    }
} // end main



/* FOOTER  */
#footerWrapper {background-color: $primaryColor; }
footer {
    grid-row-start: 3;
    font-size: .85rem;
	padding: 1rem 0;
	color: white;
	text-align: center;
	a{color: #eee;}
}
div#hamburger a, div#closex a {
    display: block;
    padding: .8rem 2vw;
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
    text-align: right;
}
div#closex a {
    margin-right: 2 vw;

}

.hding {
    color: #7BB6EC;
}

//form 
form.my-form {
    margin: 1rem 16px;
    label {
        display: block;
        font-size: .8rem;
        color: $primaryColor;
        padding-top: .2rem;

    }
    input[type=text],
    input[type=tel],
    input[type=number],
    input[type=email],
    input[type=password],
    input[type=date],
    select {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 10px 10px 0 0;
        font-size: 1rem;
        color: $primaryColor;
        width: 250px;
        padding: .5rem 16px;
        border: none;

    }
    input:required {
        border-left-style: solid;
        border-left-width: thick;
        border-left-color: red;
    }
    input:required:focus {
        border-left-style: solid;
        border-left-width: thick;
        border-left-color: gray;
    }
    input:required:valid {
        border-left-style: solid;
        border-left-width: thick;
        border-left-color: green;
    }
}

input[type=submit] {
    border: none;
    color: white;
    background-color: $primaryColor;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2rem 0;
    width: 250px;
    font-size: 1.2rem;
    -webkit-appearance: none;
    appearance: none;

}

