/* NAVIGATION STUFF GOES HERE  */



ul li a {

  img {
      display: none;
  }
  span {

      display: block;
  }
 
}
.active {
    
  span {
      color: white;
  }
  background-color: black;

}
h2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.piccontent {
  display: block;
  margin: 20px;
  img {
      width: 100%;
      height: auto;
     
  }
}

p {
  margin: 15px
  
}
#two {
  margin-bottom: 100px;
}
.content1 {
 
  img {
     margin-left: 60px;
     width: 300px;
  
  }
  p {
    font-size: 20px;
      margin-right: 50px
  }
}