header, nav, main {
    max-width: 1240px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
nav ul li a {
    font-size: .9rem;
    padding: .5rem 1.2rem;
}

div.reviews {

    section {
        grid-template-columns: 200px auto;
    } //c
} //p

div.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}