/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* BODY  */
body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 300;
  min-width: 320px;
  background-color: white;
}

/* HEADER  */
header {
  display: flex;
  justify-content: center;
  grid-template-columns: 51px auto;
  align-items: center;
  padding: 0.5rem 2vw;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

/* NAVIGATION STUFF GOES HERE  */
ul {
  background-color: #EEF7FF;
}

nav {
  max-width: 1200px;
}
nav ul li a {
  color: #006FA2;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 1rem 2vw;
  background-color: #EEF7FF;
  width: auto;
}
nav ul li a:hover {
  color: #006FA2;
  transition: 0.3s;
  text-decoration: underline wavy;
}
nav ul li.active a {
  color: darkorange;
}

.logo {
  width: 250px;
}

h1 {
  display: none;
}

.phoneicon {
  width: 30px;
}

.phoneicon:hover {
  cursor: pointer;
}

.phonenum {
  display: none;
}

details {
  margin: 0.5rem;
}
details summary {
  background-color: lightblue;
  padding: 10px;
}

/* MAIN  */
main p {
  padding: 0.5rem 2vw;
  color: #333;
  line-height: 125%;
}
main h1 {
  padding: 1rem 2vw 0.5rem 2vw;
  font-size: 1.5rem;
  color: #265b7d;
  font-weight: 300;
}
main .hero {
  width: 100%;
}
main .hero img {
  width: 100%;
  height: auto;
}

section {
  display: grid;
  grid-template-columns: 1fr;
}

section div {
  width: 100%;
  padding: 1rem;
}
section div img {
  width: 100%;
  height: auto;
  border: 1px solid lightgrey;
}

/* FOOTER  */
#footerWrapper {
  background-color: #006FA2;
}

footer {
  font-size: 0.85rem;
  padding: 1rem 0;
  color: white;
  text-align: center;
}
footer a {
  color: #eee;
}

h2 {
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 16px;
  text-align: center;
}

@media only screen and (min-width: 35rem) {
  /* NAVIGATION STUFF GOES HERE  */
  nav ul {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
  }
  h1 {
    display: flex;
    color: black;
  }
  section {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 64rem) {
  /* NAVIGATION STUFF GOES HERE  */
  nav ul li a {
    padding: 1rem 2vw;
    font-size: 16px;
  }
  .logo {
    width: 300px;
    height: 60px;
    margin: 10px;
  }
  .headerWrapper {
    display: flex;
  }
  nav {
    max-width: none;
  }
  nav ul {
    display: flex;
    justify-content: end;
  }
  h1 {
    display: flex;
  }
  video {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
