/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* BODY  */
body {
    
	font-family: $defaultFont;
	font-size: 16px;
	font-weight: $lightWeight;
    min-width: 320px;
    background-color: $primaryColor;
}

div#headerWrapper {
    width: 100%;
}

/* HEADER  */
header {
    display: flex;
    grid-template-columns: 51px auto;
    align-items: center;
	padding: .5rem 2vw;
    background-color: $secondaryColor;
	h1 {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        padding-left: .5rem;
        color: #423E37;
    }
} // end header




/* NAVIGATION STUFF GOES HERE  */
button {
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #EDEBD7;
    padding: .5rem 2vw .5rem 1rem;
    background-color: #1b1b1b;
}
button span:nth-child(1) {
    display: block;
}
button span:nth-child(2) {
    display: none;
}
button.open span:nth-child(1) {
    display: none;

    
    
}
button.open span:nth-child(2) {
    display: block;
    color: $secondaryColor;
    

   
}

button:hover {
    cursor: pointer;
    color: $secondaryColor;
    

}

// @keyframes shake {
//     0% { transform: translate(1px, 1px) rotate(0deg); }
//     10% { transform: translate(-1px, -2px) rotate(-1deg); }
//     20% { transform: translate(-3px, 0px) rotate(1deg); }
//     30% { transform: translate(3px, 2px) rotate(0deg); }
//     40% { transform: translate(1px, -1px) rotate(1deg); }
//     50% { transform: translate(-1px, 2px) rotate(-1deg); }
//     60% { transform: translate(-3px, 1px) rotate(0deg); }
//     70% { transform: translate(3px, 1px) rotate(-1deg); }
//     80% { transform: translate(-1px, -1px) rotate(1deg); }
//     90% { transform: translate(1px, 2px) rotate(0deg); }
//     100% { transform: translate(1px, -2px) rotate(-1deg); }
//   }

nav {
    background-color: #1b1b1b;
    
}

ul {
    background-color: #1b1b1b;
    position:relative;
    right: 0;
    width: 100%;
    display: none;
    

}
ul.open {display: block;
   }
ul li {border-bottom: 1px solid rgb(53, 53, 53);}
ul li a {
    display: block;
    padding: .9rem 2vw;
    font-weight: $lightWeight;
    color: white;
    text-decoration: none;
    text-align: left;
   
}
ul li a:hover {
    color: $secondaryColor;
    transition: 1s;
}


.active a{
    color: $secondaryColor;
}
.heading2 {
    font-size: 35px;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 10px;
}









/* MAIN  */
main {

 	p {padding: .5rem 2vw; color: #333; line-height: 125%;}
	h1 {
        padding: 1rem 2vw .5rem 2vw; 
        font-size: 1.5rem; 
        color: $secondaryColor;
        font-weight: $lightWeight
    }
    .hero {width: 100%;}
    .hero img {
        width: 100%;
        height: auto;
    }
} // end main



/* FOOTER  */
#footerWrapper {background-color: #423E37; }
footer {
    font-size: .85rem;
	padding: 1rem 0;
	color: #EDEBD7;
	text-align: center;
}
.hero  {
    position: relative;
    video {
        width: 100%;
        height: auto;
    }
    div {
        position: absolute;
        top: 50%;
        color: $secondaryColor;
        left: 10px;
        
        h3 {
            text-shadow: 0 0 5px black;
            font-size: 1.5rem;
        }
    }
}
.mtext {
    padding-left: 20px;
}


//tutorial
.cards {
    display: grid;
  }
  
  .card {
    perspective: 40rem;
  }
  
  .card-body {
    transform-style: preserve-3d;
    transition: transform 1s;
    
    .card:hover & {
      transform: rotateX(-180deg);
    }  
  }
  
  .card-front, .card-back {
    backface-visibility: hidden;
  }
  
  .card-back {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transform: rotateX(-180deg);

  }
  

  .card-front, .card-back {
    // @extend .shadow;
    display: flex;
    align-items: center;
    background-color: black;
    box-sizing: border-box;
    padding: 1.5rem;
    margin: 20px;
    border-radius: 0.25rem;
    color: white;
  }
  
//   .card-front {
//     font-size: 1.5rem;
//   }
  
//   .shadow {
//     box-shadow: 0 -1px 1px rgba(0,0,0,0.04), 
//                 0 2px 2px rgba(0,0,0,0.04), 
//                 0 4px 4px rgba(0,0,0,0.04), 
//                 0 8px 8px rgba(0,0,0,0.04),
//                 0 16px 16px rgba(0,0,0,0.04); 
//   }
  
.speakers {
    width: 100%;
}

//ex
.content1 {
    display: grid;
    grid-template-columns: 250px auto;
}