/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* BODY  */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  min-width: 320px;
}

#pageWrapper {
  position: relative;
  overflow-x: hidden;
}

.moveOver > .content {
  transform: translateX(-180px);
}

.content {
  transition: transform 500ms ease;
}

/* HEADER  */
header {
  display: grid;
  grid-template-columns: 51px auto 48px;
  align-items: center;
  padding: 0.5rem 2vw;
}
header h1 {
  font-size: 1.6rem;
  font-weight: 300;
  padding-left: 0.5rem;
  color: #FF7200;
}
header button {
  width: 48px;
  height: 48px;
  margin: 0;
  align-self: start;
  background: none;
  border: none;
  font-size: 1.5rem;
  text-align: right;
  color: #FF7200;
}

/* NAVIGATION STUFF GOES HERE  */
nav {
  background-color: white;
  width: 180px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
}
nav div {
  display: block;
  text-align: center;
  padding: 1.5rem;
  font-size: 1.1rem;
  background-color: #FF7200;
  color: white;
}
nav ul li a {
  display: block;
  padding: 0.9rem 0.5rem;
  text-align: right;
  /* border-bottom: 1p rgba(0, 0, 0, 0.25) solid; */
  text-decoration: none;
  color: #FF7200;
}
nav ul li a:hover {
  background-color: #FF7200;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
}
nav li.active a {
  color: #D05353;
}

/* MAIN  */
main p {
  padding: 0.5rem 2vw;
  color: #333;
  line-height: 125%;
}
main h1 {
  padding: 1rem 2vw 0.5rem 2vw;
  font-size: 1.5rem;
  color: #D05353;
  font-weight: 300;
}
main .hero {
  width: 100%;
}
main .hero img {
  width: 100%;
  height: auto;
}

/* FOOTER  */
#footerWrapper {
  background-color: #FF7200;
}

footer {
  font-size: 0.85rem;
  padding: 1rem 0;
  color: white;
  text-align: center;
}

#cards section {
  display: grid;
  grid-template-areas: "name" "photo" "address" "phone";
  background-color: #FF7200;
  color: white;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
}
#cards section:hover {
  cursor: pointer;
  background-color: #D05353;
  transition: 0.5s;
}
#cards img {
  padding: 10px 0 10px 0;
  grid-area: photo;
  width: 100%;
  height: auto;
}
#cards h2 {
  grid-area: name;
}
#cards address {
  grid-area: address;
  padding: 10px 0 10px 0;
}
#cards a {
  grid-area: phone;
  text-decoration: none;
  color: white;
}
#cards a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 35rem) {
  /* NAVIGATION STUFF GOES HERE  */
  #cards section {
    grid-template-areas: "photo name" "photo address" "photo phone";
  }
  #cards img {
    padding: 0 15px 0 0;
    width: 400px;
    height: auto;
  }
  #cards h2 {
    font-size: 30px;
  }
  #cards address {
    font-size: 20px;
  }
}
@media only screen and (min-width: 64rem) {
  header, nav, main {
    max-width: 1240px;
    margin: auto;
  }
  /* NAVIGATION STUFF GOES HERE  */
  #hamburgerBtn {
    display: none;
  }
  nav {
    position: static;
    transform: translateX(0);
    width: auto;
  }
  nav div {
    display: none;
  }
  nav ul {
    display: flex;
    margin-left: 2%;
  }
  nav ul li a {
    border: none;
    padding: 20px;
  }
  #cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/*# sourceMappingURL=styles.css.map */
